<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
  <div class="navigation-wrap"><a href="https://dikanza3d.com/" aria-current="page" class="logo-link w-nav-brand w--current" aria-label="home"><img src="./assets/img/logo.png" loading="lazy" width="140" alt="Logotipo da Dikanza 3D"></a>
      <div class="menu">
          <nav role="navigation" class="navigation-items w-nav-menu" style="transform: translateY(0px) translateX(0px);"><a href="https://dikanza3d.webflow.io/about" class="navigation-item w-nav-link">SOBRE</a><a href="https://dikanza3d.webflow.io/projects" class="navigation-item w-nav-link">TRABALHOS</a><a href="https://dikanza3d.webflow.io/models" class="navigation-item w-nav-link">PRODUTOS</a><a href="https://dikanza3d.webflow.io/blog" class="navigation-item w-nav-link">PORTFOLIO</a><a href="https://dikanza3d.webflow.io/contact" class="navigation-item w-nav-link">ContaTO</a></nav>
          <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"><img src="./Dikanza 3D_files/64855f1e841d2b143a219ede_menu-icon.png" width="22" alt="" class="menu-icon"></div>
      </div><a href="http://wa.me/244952130560?text=Ol%C3%A1%20Dikanza%203D.%20Estou%20inderessado%20nos%20vossos%20servi%C3%A7os%20e%20preciso%20de%20um%20or%C3%A7amento." target="_blank" class="button cc-contact-us w-inline-block">
          <div>ORÇAMENTO</div>
      </a>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" style="display: none;"></div>
</div>
<div class="w-container"><img src="./Dikanza 3D_files/648584b1adbde29bba5e6c51_SVGlogo.png" loading="lazy" width="526" sizes="(max-width: 479px) 70vw, (max-width: 767px) 100vw, 526px" alt="Logitipo da Dikanza3D" srcset="https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/648584b1adbde29bba5e6c51_SVGlogo-p-500.png 500w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/648584b1adbde29bba5e6c51_SVGlogo-p-800.png 800w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/648584b1adbde29bba5e6c51_SVGlogo-p-1080.png 1080w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/648584b1adbde29bba5e6c51_SVGlogo.png 2030w" class="image-2"></div>
<div class="section cc-store-home-wrap">
  <div class="container">
      <div class="home-content-wrap">
          <div class="w-layout-grid about-grid">
              <div id="w-node-_86e64837-0616-515b-4568-76c147234d34-3a219ebc">
                  <div class="home-section-wrap">
                      <div class="label cc-light">QUEM SOMOS?</div>
                      <h2 class="section-heading">DIKANZA 3D</h2>
                      <p class="paragraph-light">Fundada em 2023 por empreendedores angolanos apaixonados por design interior, a Dikanza 3D atua no mercado de Decoração e Design de Interiores especializada em Painéis de Gesso 3D....</p>
                  </div><a href="https://dikanza3d.webflow.io/about" class="button w-inline-block">
                      <div>Ler mais</div>
                  </a>
              </div><img src="./Dikanza 3D_files/64856ecdcdba2a48db879d39_chair_2.png" sizes="100vw" srcset="https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856ecdcdba2a48db879d39_chair_2-p-500.png 500w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856ecdcdba2a48db879d39_chair_2-p-800.png 800w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856ecdcdba2a48db879d39_chair_2-p-1080.png 1080w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856ecdcdba2a48db879d39_chair_2.png 1104w" id="w-node-_86e64837-0616-515b-4568-76c147234d3f-3a219ebc" alt="Painel 3D em Cinza Industrial">
          </div>
          <div class="w-layout-grid about-grid cc-about-2">
              <div id="w-node-_86e64837-0616-515b-4568-76c147234d41-3a219ebc">
                  <div class="home-section-wrap">
                      <div class="label cc-light">time</div>
                      <h2 class="section-heading">O QUE FAZEMOS?</h2>
                      <p class="paragraph-light">Somos especialistas em Decoração de Ambientes com Materiais 3D, utilizando Gesso. Nosso serviço inclui produção personalizada de placas de Gesso 3D e instalação em salas ou ambientes abertos.</p>
                  </div><a href="https://dikanza3d.webflow.io/models" class="button w-inline-block">
                      <div>Saiba mais</div>
                  </a>
              </div><img src="./Dikanza 3D_files/64856f3655c5edc7b11766de_Captura de Tela 2023-06-11 às 03.52.22.png" id="w-node-_86e64837-0616-515b-4568-76c147234d4c-3a219ebc" sizes="100vw" srcset="https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856f3655c5edc7b11766de_Captura%20de%20Tela%202023-06-11%20a%CC%80s%2003.52.22-p-500.png 500w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856f3655c5edc7b11766de_Captura%20de%20Tela%202023-06-11%20a%CC%80s%2003.52.22-p-800.png 800w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856f3655c5edc7b11766de_Captura%20de%20Tela%202023-06-11%20a%CC%80s%2003.52.22-p-1080.png 1080w, https://uploads-ssl.webflow.com/64855f1e841d2b143a219e92/64856f3655c5edc7b11766de_Captura%20de%20Tela%202023-06-11%20a%CC%80s%2003.52.22.png 1140w" alt="Parede com modelos de Painel 3D em Cinza Industrial">
          </div>
      </div>
      <div class="motto-wrap">
          <div class="label cc-light">Nós acreditamos</div>
          <div class="heading-jumbo-small">Para crescer, é vital prestar com excelência nossos serviços e manter bom relacionamento com nossos clientes.<br></div>
      </div>
  </div>
</div>
<div class="section">
  <div class="container">
      <div class="blog-heading">
          <div class="label cc-light">PARA VOCÊ</div>
          <h2 class="work-heading">RELAÇÕES PÚBLICAS</h2>
      </div>
      <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="collection-wrap w-dyn-items">
              <div role="listitem" class="blog-preview-wrap w-dyn-item"><a href="https://dikanza3d.webflow.io/post/como-limpar-gesso-3d" class="business-article-heading">Como Limpar de Gesso 3D</a>
                  <div class="label cc-blog-date">Feb 21, 2019</div>
                  <p class="paragraph-light">Neste guia completo, aprenderemos as melhores práticas para limpar e manter adequadamente as superfícies de gesso 3D, garantindo que elas continuem a encantar por muitos anos.</p>
              </div>
              <div role="listitem" class="blog-preview-wrap w-dyn-item"><a href="https://dikanza3d.webflow.io/post/15-best-blogs-to-follow-about-web-design" class="business-article-heading">5 Casos de Uso de Gesso 3D</a>
                  <div class="label cc-blog-date">Feb 21, 2019</div>
                  <p class="paragraph-light">Neste guia completo, aprenderemos as melhores práticas para limpar e manter adequadamente as superfícies de gesso 3D, garantindo que elas continuem a encantar por muitos anos.</p>
              </div>
              <div role="listitem" class="blog-preview-wrap w-dyn-item"><a href="https://dikanza3d.webflow.io/post/7-of-the-best-examples-of-beautiful-blog-design" class="business-article-heading">7 Erros relativos a Paredes Permeáveis</a>
                  <div class="label cc-blog-date">Feb 21, 2019</div>
                  <p class="paragraph-light">Neste guia completo, aprenderemos as melhores práticas para limpar e manter adequadamente as superfícies de gesso 3D, garantindo que elas continuem a encantar por muitos anos.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="section cc-cta">
  <div class="container">
      <div class="cta-wrap">
          <div>
              <div class="cta-text">
                  <div class="heading-jumbo-small">CONTRATE NOSSOS SERVIÇOS<br></div>
                  <div class="paragraph-bigger cc-bigger-light">Não por acaso, hoje nossos caminhos se cruzaram e disso começará uma relação de mútua confiaça.<br></div>
              </div><a href="https://dikanza3d.webflow.io/contact" class="button cc-jumbo-button w-inline-block">
                  <div>Contratar agora</div>
              </a>
          </div>
      </div>
  </div>
</div>
<div class="section">
  <div class="container">
      <div class="footer-wrap"><a href="https://webflow.com/" target="_blank" class="webflow-link w-inline-block"><img src="./assets/img/small_logo.png" width="230" alt="Logotipo da Dikanza 3D" class="webflow-logo-tiny"></a></div>
  </div>
</div>