<div class="section cc-cta">
    <div class="container">
        <div class="cta-wrap">
            <div>
                <div class="cta-text">
                    <div class="heading-jumbo-small">CONTRATE NOSSOS SERVIÇOS<br></div>
                    <div class="paragraph-bigger cc-bigger-light">Não por acaso, hoje nossos caminhos se cruzaram e disso começará uma relação de mútua confiaça.<br></div>
                </div>
                <a [routerLink]="['/badget']" routerLinkActive="router-link-active" class="button cc-jumbo-button w-inline-block">
                    <div>Perdir Orçamento</div>
                </a>
            </div>
        </div>
    </div>
</div>